a.href-to-setting{
    background-image: url("../Content/Images/Day/pencil.png");
}
.href-to-add-modal-dialog{
    background-image: url("../Content/Images/Day/add.png");
}
.href-to-arrow24{
    background-image: url("../Content/Images/Day/arrow24.png");
}
.href-to-add24{
    background-image: url("../Content/Images/Day/add24.png");
}