
@{
    ViewBag.Title = "CreativeReader";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/creative-reader-style.css" rel="stylesheet" />

<div class="main-div">
    <div class="col-sm-3 col-md-3 col-xs-3 chapters-list">
        <div class="list-group">
            <a href="#" class="list-group-item">
                Cras justo odio
            </a>
            <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item">Morbi leo risus</a>
            <a href="#" class="list-group-item">Porta ac consectetur ac</a>
            <a href="#" class="list-group-item">Vestibulum at eros</a>
        </div>
    </div>
    <div class="col-sm-7 col-md-8 col-xs-8 full-creative jumbotron">
        <h1>НАЗВАНИЕ КРЕАТИВА</h1>
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
        djv ysdbv d hsdbv  vjdhb vj hdb vh bkvdh vbd jvhbdfvhjbdf kvhbd fhdfb vhdfbvkdh bfkhdfb kdfhb kdfb flbkslv difsb kdfb vkdsf vkdfb vkdh vb
    </div>
</div>