@{
    ViewBag.Title = "Index";
}

<div>
    
    <div class="user-data jumbotron" ng-controller="userDataController">
        <div class="avatar">
            <img src="{{user.AvatarUrl}}" class="file__drop img-rounded" data-image data-image-uploader />
        </div>
        <div>
            <div>
                <div class="login">{{user.Login}}</div>
                <a class="setting" href="/Manage/Index/"></a>
            </div>
            <div id="medal">
                <img class="medal" src="http://s1.iconbird.com/ico/1112/Onebit4/w48h481351852735010.png" />
                <img class="medal" src="http://s1.iconbird.com/ico/1112/Onebit4/w48h481351852735011.png" />
            </div>
        </div>
        <br />
        <br />
        <a id="email" href="mailto:{{user.Email}}">{{user.Email}}</a>
    </div>

    <div class="creatives">

        <div id="creatives-header">
            <div id="add-dialog" ng-controller="addController">
                <img id="add" ng-click="toggleModal()" src="~/Content/Images/Day/add.png" />

                <modal-dialog show='modalShown' width='80%' height='90%' >
     
                    
                    <div class="thismargin">
                        
                        <div class="form-group row">
                            <label for="example-text-input" class="col-xs-2 col-form-label">Name:</label>
                            <div class="col-xs-10">
                                <input class="form-control" type="text" placeholder="Название креатива" id="example-text-input" ng-model="creative.Name">
                            </div>
                        </div>
                    </div>
                    
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="margininput">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="headingOne">

                                        <div class="form-group row" style="margin-bottom: 0">
                                            <div class="col-xs-10">
                                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Название главы" ng-model="ChapterView.Name">
                                            </div>
                                            
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    <img src="~/Content/Images/Day/arrow24.png" />
                                                </a>
                                            <a href="#"><img src="~/Content/Images/Day/add24.png" ng-click="addChapter()" style="margin-left:30px;"/></a>
                                        </div>
                                    </div>

                                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                        <div class="panel-body">
                                            <div class="summernote"><p>Текст главы</p></div>

                                        </div>

                                        

                                        <div class="container">
                                            <div class="row">
                                                <div>
                                                    <div class="card" ng-cloak>

                                                        
                                                        <input class="form-control input-tags" data-tag-input="" data-ng-model="tagText" placeholder="Введите тег" data-ng-style="{width: inputWidth}" data-new-tag="addTag()" data-remove-tag="removeTag()" type="text" />

                                                        <div class="tag badge" data-ng-repeat="(id, tag) in tags">
                                                            {{ tag.Name }}
                                                            <button class="tag-remove" data-ng-click="removeTag(id) ">&times;</button>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                    </div>
                    <br />

                    
                    @*<div data-ng-repeat="(Id, chapter) in chapters">
                        {{chapter.Name}}
                    </div>*@
                    


                        <br />
                    <div class="col-md-offset-4 col-sm-offset-3 col-xs-offset-1">
                        <button type="button" class="btn btn-default btn-lg" ng-click="createCreative();hideModal()">Сохранить креатив</button>
                    </div>
                    
                </modal-dialog>
                



            </div>
            

            <div class="sort btn-group btn-group-s" role="group" aria-label="...">
                <button type="button" class="btn btn-default">A-Я</button>
                <button type="button" class="btn btn-default">Last edit</button>
                <button type="button" class="btn btn-default">New</button>
            </div>
        </div>

        <div ng-controller="userCreativesController">
            <a ng-click="openCreative()" href="~/Creative/CreativeReader/" ng-repeat="creative in creatives">
                <div class="creative-in-UserPage well well-lg">
                
                    
                        <p id="name" class="style-for-name">{{creative.Name}}</p>
                        <hr />
                        <div id="link-for-name" class="position-link">
                        </div>
                        <p class="date size-of-text">Добавлен: {{creative.CreateData}}</p>
                        <p class="date">Последнее редактирование: {{creative.RedactData}}</p>
                        <div id="rateYo"></div>
                    
             
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {    
    <script src="~/Scripts/creating-script.js"></script>
    <script src="~/Scripts/jquery.rateyo.min.js"></script>
    <script src="~/Scripts/summernote.js"></script>

    <script>
        $(function () {

            $("#rateYo").rateYo({
                rating: 3.6
            });

        });
    </script>

    <script>
        $(document).ready(function() {
            $('.summernote').summernote();
        });
    </script>

    <script>
        $('body').on({ 'drop dragover dragenter': dropHandler }, '[data-image-uploader]');
        $('body').on({ 'change': regularImageUpload }, '#file');

        function regularImageUpload(e) {
            var file = $(this)[0],
                type = file.files[0].type.toLocaleLowerCase();

            if (type.match(/jpg/) !== null ||
               type.match(/jpeg/) !== null ||
               type.match(/png/) !== null ||
               type.match(/gif/) !== null) {

                readUploadedImage(file.files[0]);
            }
        }

        function dropHandler(e) {
            e.preventDefault();

            if (e.type === 'drop' && e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.files.length) {

                var files = e.originalEvent.dataTransfer.files,
				    type = files[0].type.toLocaleLowerCase();

                if (type.match(/jpg/) !== null ||
				    type.match(/jpeg/) !== null ||
				    type.match(/png/) !== null ||
				    type.match(/gif/) !== null) {

                    readUploadedImage(files[0]);

                }

            }

            return false;
        }

        function readUploadedImage(img) {
            var reader;

            if (window.FileReader) {
                reader = new FileReader();
                reader.readAsDataURL(img);

                reader.onload = function (file) {
                    if (file.target && file.target.result) {
                        imageLoader(file.target.result, displayImage);
                    }

                };

                reader.onerror = function () {
                    throw new Error('Something went wrong!');
                };

            } else {
                throw new Error('FileReader not supported!');
            }

        }

        function imageLoader(src, callback) {
            var img;

            img = new Image();

            img.src = src;

            jQuery.ajax({
                type: "POST",
                url: "/UserPage/ChangeAvatar/",
                data: JSON.stringify({ src: src }),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        
            img.onload = function () {
                imageResizer(img, callback);
            }

        }

        function imageResizer(img, callback) {
            var canvas = document.createElement('canvas');
            canvas.width = 200;
            canvas.height = 200;
            context = canvas.getContext('2d');
            context.drawImage(img, 0, 0, 200, 200);

            callback(canvas.toDataURL());

        }

        function displayImage(img) {
            $('[data-image]').attr('src', img);
        }
    </script>
}