@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li><a href="~/UserPage/Index/"><img src="~/Content/Images/man-user.png" /></a></li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()"><img src='~/Content/Images/logout.png' /></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a href="~/Account/Register/"><img src="~/Content/Images/new-user.png" /></a></li>
        <li><a href="~/Account/Login/"><img src="~/Content/Images/login.png" /></a></li>
    </ul>
}
