@{
    ViewBag.Title = "Home Page";
}

<div class="vertical-indent">

    <h1 class="style-of-text-h1">@Resources.Resource.Popular</h1>

    <div ng-controller="popularCreativeController" class="popular">

        <div ng-repeat="user in users" class="creative-in-UserPage well">
            <p id="name" class="style-for-name">{{user.Creatives[0].Name}}</p>
            <hr />
            <div id="link-for-name" class="position-link">
                <a class="date">{{user.Login}}</a>
            </div>
            <p class="date">@Resources.Resource.Added: {{user.Creatives[0].CreateData}}</p>
            <div id="rateYo"></div>
        </div>
    </div>
    <div style="clear:both"></div>
    <h1 class="style-of-text-h1">@Resources.Resource.NEW_</h1>

    <div ng-controller="newCreativeController" class="new">

        <div ng-repeat="creative in creatives" class="col-md-4 col-sm-6 col-xs-12">
            <div class="well">

            <p id="name" class="style-for-name">{{user.Creatives[0].Name}}</p>
            <hr />
            <div id="link-for-name" class="position-link">
                <a class="date">{{user.Login}}</a>
            </div>
            <p class="date">@Resources.Resource.Added: {{user.Creatives[0].CreateData}}</p>
            <div id="rateYo"></div>

        </div>
    </div>

    <div class="between-cloud-and-panel"></div>
    <div style="position:relative">
        <div id="div1">
            <a href="http://codepen.io/fatihbs">JS</a>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/Tag-Cloud.js"></script>
}