@{
    ViewBag.Title = "Home Page";
}

<div ng-app="createApp">
        
    <div ng-controller="popularCreativeController" class="popular well well-sm">
        <p2>Popular</p2>
        <div ng-repeat="creative in creatives" class="creative well well-lg">

            <p id="name">{{creative.Name}}</p>
            <p class="date">{{creative.CreateData}}</p>
            <p class="date">{{creative.RedactData}}</p>
            <div id="rateYo"></div>

        </div>
    </div>

    <div ng-controller="newCreativeController" class="new well well-sm">
        <p2>New</p2>
        <div ng-repeat="creative in creatives" class="creative well well-lg">
            
            <p id="name">{{creative.Name}}</p>
            <p class="date">{{creative.CreateData}}</p>
            <p class="date">{{creative.RedactData}}</p>
            <div id="rateYo"></div>

        </div>
    </div>
        
</div>


    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/Controllers/creativeController.js"></script>
    <script src="~/Scripts/Services/creativeService.js"></script>
