
@{
    ViewBag.Title = "SearchPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div ng-controller="searchPageController">
    
    <div class="popular">
        <div ng-repeat="creative in user.Creatives" class="creative-in-SearchPage well">
            <p id="name" class="style-for-name">{{creative.Name}}</p>
            <hr />
            <div id="link-for-name" class="position-link">
                <a class="date">{{user.Login}}</a>
            </div>
            <p class="date">@Resources.Resource.Added: {{creative.CreateData}}</p>
            <p class="date">{{creative.RedactData}}</p>
            <div id="rateYo"></div>
        </div>
    </div>
 </div>